html {
  background-color: #333;
  color: #59b;
}

input {
  border: 1px solid #59b;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
input.valid {
  background-color: rgb(141, 228, 141);
}
input {
  width: 100px;
}

.interactable {
  cursor: pointer;
  text-decoration: underline;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #222;
  color: #555;
  width: 100%;
  text-align: center;
  line-height: 30px;
}
