:root {
  --col-accented-muted: #4787a8;
  --col-accented: #fdfeff;
  --col-warn: #fa3b00;
  --col-background: #333;
  --col-text: #b5b5b5;
  --col-valid: #afa;
}
html {
  color: var(--col-text);
  background-color: var(--col-background);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

#header {
  color: var(--col-accented-muted);
}

.header__logo img {
  width: 100%;
  height: 3rem;
  object-fit: cover;
  object-position: center;
}

#header > nav {
  display: none;
}
#header > nav.open {
  display: grid;
  grid-template-rows: 1fr;
}
#header > nav > a {
  color: var(--col-accented-muted);
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid var(--col-accented-muted);
}

#header > nav > a:hover {
  color: var(--col-accented);
}

#header > nav > a:active {
  color: var(--col-warn);
  border-color: var(--col-warn);
}

#header > nav > a.current {
  color: var(--col-text);
  border-color: var(--col-text);
}
