:root {
  --col-accented-muted: #4787a8;
  --col-accented: #fdfeff;
  --col-warning: #fa3b00;
  --col-warning-bg: #441000;
  --col-background: #333;
  --col-text: #b5b5b5;
  --col-text-muted: #666;
  --col-valid: #9f9;
  --col-valid-bg: #040;
}
html {
  color: var(--col-text);
  background-color: var(--col-background);
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--col-accented);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
a:active {
  color: var(--col-warning);
}
a:focus {
  outline: 0.2em solid var(--col-warning);
  border: none;
}
.warning {
  color: var(--col-warning);
}
.interactable {
  cursor: pointer;
}
/* ------ */
/* HEADER */
/* ------ */
#header {
  color: var(--col-accented-muted);
  margin-bottom: 3rem;
}

#header .logo {
  height: 3rem;
  background-color: var(--col-accented-muted);
}

#header .logo__link {
  color: var(--col-accented);
  text-decoration: none;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

#header .nav__toggle {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  color: var(--col-accented);
  background-color: var(--col-background);
  border: 0.2em solid var(--col-accented-muted);
  border-radius: 50%;
  place-items: center;
  transition: all 0.2s ease-in-out;
  display: grid;
  margin: 0.5rem 0.5rem -5.4rem auto;
  font-size: 1.5rem;
  position: relative;
  top: -3.3rem;
  z-index: 1;
}

#header .nav {
  display: none;
  place-items: center;
  grid-template-rows: 1fr;
}
#header .nav--open {
  display: grid;
}
#header .nav__link {
  color: var(--col-accented-muted);
  width: 90vw;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  border: 0.2em solid var(--col-accented-muted);
  border-radius: 0.5em;
  padding: 0.5rem;
}

#header .nav__link:active {
  color: var(--col-warning);
  border-color: var(--col-warning);
}

#header .nav__link--current {
  color: var(--col-text-muted);
  border-color: var(--col-text-muted);
  cursor: default;
}

/* ---- */
/* MAIN */
/* ---- */
#main{
  overflow: hidden;
  width: 95vw;
  margin: 0 auto 5em;
}


/* ------ */
/* FOOTER */
/* ------ */

#footer {
  margin-top: auto;
  color: var(--col-text-muted);
  display: grid;
  font-size: 0.8rem;
  line-height: 2;
  text-align: center;
  grid-template:
    "madeBy source" 2em
    "buildTag buildTag" 2em /
    1fr 1fr;
}
#footer > * {
  border-top: 1px solid var(--col-text-muted);
  color: var(--col-text-muted);
}
#footer a {
  color: var(--col-accented-muted);
}
#footer p {
  margin: 0;
}

#footer .madeBy {
  grid-area: madeBy;
}

#footer .buildTag {
  grid-area: buildTag;
}

#footer .sourceCode {
  grid-area: source;
}
@media screen and (min-width: 36rem) {
  #footer {
    grid-template:
      "madeBy buildTag source" 2em/
      1fr 1fr 1fr;
  }
}

/* --------------- */
/* MEAL CALCULATOR */
/* --------------- */

#mealCalculator {
  display: grid;
  margin: 0 auto;
  max-width: 95vw;
  width: 100%;
  grid-template:
    "addFood" auto
    "foodList" auto
    "results" auto/
    1fr;

  grid-gap: 1rem;
}

#mealCalculator .addFood {
  grid-area: addFood;
  display: grid;
}

#mealCalculator .addManual {
  display: none;
}

#mealCalculator .addManual--open {
  display: grid;
}

#mealCalculator .foodList {
  grid-area: foodList;
  padding-left: 0;
  list-style: none;
}

#mealCalculator .food > .food__info {
  grid-area: inf;
  color: var(--col-text-muted);
  font-size: .8rem;
  place-items: end;
  border: none;
}

#mealCalculator .food.food--header {
  color: var(--col-text-muted);
  display: grid;
  grid-template:
  "inf inf inf inf _ __" auto 
  "nam nam nam wei _ delete" auto 
  "pro fat car cal _ delete" auto /
  1fr 1fr 1fr 1fr .4fr 1fr;
  text-align: center;
  gap: 0.2rem;
  margin-bottom:1rem;
}
#mealCalculator .food {
  display: grid;
  grid-template:
  "nam nam nam wei _ delete" auto 
  "pro fat car cal _ delete" auto /
  1fr 1fr 1fr 1fr .4fr 1fr;
  text-align: center;
  gap: 0.2rem;
  margin-bottom:1rem;
}
#mealCalculator .food>input {
  /* unsure why 6 px was te magic number */
  width: calc(100% - 6px);
}
#mealCalculator .food>* {
  border: 1px solid var(--col-text-muted);
  display: grid;
  place-items: center;
  min-height: 1.5rem;
  white-space: nowrap;
}


#mealCalculator .food>input{
  color: var(--col-warning);
  background-color: var(--col-warning-bg);
}
#mealCalculator .food>*.valid {
  color: var(--col-valid);
  background-color: var(--col-valid-bg);
}

#mealCalculator  .food__name {
  grid-area: nam;
  min-height: 2rem;
  white-space: normal;
  font-weight: 700;
}
 grid-area: wei;
  font-weight: 700;
}

#mealCalculator .food__calories {
  grid-area: cal;
}
#mealCalculator .food__protein {
  grid-area: pro;
}
#mealCalculator .food__fat {
  grid-area: fat;
}
#mealCalculator .food__carbs {
  grid-area: car;
}

#mealCalculator .food__delete, 
#mealCalculator .food__done {
  grid-area: delete;
  display: grid;
  place-items: center;
  color: var(--col-warning);
}

#mealCalculator .food__done {
  color: var(--col-accented-muted);
}
#mealCalculator .food__done.valid {
  color: var(--col-valid);
}
#mealCalculator .food:not(.food--header)>*:hover {
  border-color: var(--col-accented-muted);
  color: var(--col-accented);
}
#mealCalculator .food:not(.food--header)>.food__delete:hover {
  border-color: var(--col-warning);
  color: var(--col-warning);
}

#mealCalculator .food--header .food__delete {
  color: var(--col-text-muted);
}

#mealCalculator .food:not(.food--header) .food__delete:hover {
  background-color: var(--col-warning-bg);
}


#mealCalculator .results {
  grid-area: results;
  text-align: center;
  display: grid;
  grid-template:
  "prec" auto
  "port" auto
  "total" auto/
    1fr;
    place-content: end;
}
#mealCalculator .results__percentages {
  grid-area: prec;
  display: grid;
  grid-template:
  "head head head" auto
  "prot fat carbs" auto /
    1fr 1fr 1fr;
  gap: .2rem;
}
#mealCalculator .results__percentages>* {
  border: 1px solid var(--col-text-muted);
}

#mealCalculator .resultsPartial {
  display: grid;
  grid-template:
  "head head head" auto
  "kcal kcal weight" auto 
  "prot fat carbs" auto /
    1fr 1fr 1fr;
  gap: .2rem;
}
#mealCalculator .resultsPartial--portions {
  grid-area: port;
}
#mealCalculator .resultsPartial--total {
  grid-area: total;
}

#mealCalculator .resultsPartial>* {
  border: 1px solid var(--col-text-muted);
}

#mealCalculator .results__header {
  margin: 0;
  grid-area: head;
  color: var(--col-text-muted);
  line-height: 1.5;
  border: 0;
  text-decoration: underline;
}
#mealCalculator .resultsPartial__label {
  color: var(--col-text-muted);
}
#mealCalculator .resultsPartial__kcal {
  grid-area: kcal;
}
#mealCalculator .resultsPartial__estimate {
  grid-area: esti;
}
#mealCalculator .resultsPartial__protein {
  grid-area: prot;
}
#mealCalculator .resultsPartial__fat {
  grid-area: fat;
}
#mealCalculator .resultsPartial__carbs {
  grid-area: carbs;
}
#mealCalculator .resultsPartial__weight {
  grid-area: weight;
}

/* mediaquery for larger screens */
@media screen and (min-width: 35rem) {
  #mealCalculator {
    max-width: 60em;
    width: 100%;
    grid-template:
      "addFood results" auto
      "foodList foodList" auto /
      1fr 1fr;
  }
  #mealCalculator .foodList__header {
    grid-template:
    "info info info info info info _ _" auto
    "header header header header header header header header" auto /
    4fr 1fr 1fr 1fr 1fr 1fr .4fr 1fr;
    text-align: center;
    gap: 0.2rem; 
   }
   
  #mealCalculator .food {
    display: grid;
    grid-template:
    "nam pro fat car cal wei _ delete" auto /
    4fr 1fr 1fr 1fr 1fr 1fr .4fr 1fr;
    text-align: center;
    gap: 0.2rem;
    margin-bottom:1rem;
  }
  #mealCalculator  .food__name {
    min-height: auto;
  }
  #mealCalculator .results {
    grid-area: results;
    text-align: center;
    display: grid;
    grid-template:
    "total" auto
    "port" auto
    "prec" auto /
      1fr;
  }
  
}